/* Login Page */
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
}
.App-body {
  margin: 0;
  overflow: hidden;
}
.App-background {
  margin: 0;
  min-height: 100%;
  min-width: 1024px;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #fff;
  background: linear-gradient(-10deg, #eeb052, #e7a33c, #1698e4c0, #b123d5);
  background-size: 400% 400%;
  animation: gradientBG 100s ease infinite;
}
.App-background2 {
  margin: 0;
  min-height: 100%;
  min-width: 1024px;
  // position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: white;
  background: linear-gradient(-10deg, #eeb052, #3ce789, #e47316c0, #b123d5);
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
}
.App-background3 {
  margin: 0;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #fff;
  background: linear-gradient(-10deg, #eeb052, #e7a33c, #1698e4c0, #b123d5);
  background-size: 400% 400%;
  animation: gradientBG 100s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #09d3ac;
}
.login {
  margin-top: 150px;
}
h1 {
  color: #228143;
  font-size: 60px;
  font-family: "Titillium Web", sans-serif;
}
#login-button {
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 50px;
  margin-bottom: 150px;
  color: white;
  border-radius: 20px;
  border: none;
  background-color: #1db963;
}
#login-button:hover {
  box-shadow: 0px 10px 50px rgb(0, 0, 0.5);
}

#user-button {
  font-size: 25px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
  color: white;
  border-radius: 20px;
  border: none;
  background-color: Transparent;
}
.wrapper {
  text-align: center;
}

#login-button:hover {
  box-shadow: 0px 10px 50px rgb(0, 0, 0.5);
}

footer {
  position: absolute;
  bottom: 50px;
  width: 100%;
  margin: auto;
}

.Loggedin {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  text-align: center;
}

// Nav bar
nav {
  display: flex;
  flex-direction: row;
  background-color: #1db954;
  height: 100px;
}
nav > div {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 50px;
  font-size: 24px;
  text-decoration: none;
}
nav > a {
  margin-top: 50px;
  margin-left: 5vw;
  padding-right: 50px;
  font-size: 24px;
  text-decoration: none;
}

main {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
h2 {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 100px;
}

#top {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#top > div {
  padding: 10px 20px;
  margin-right: 50px;
}
.tracks-item {
  margin-bottom: 50px;
}
.artist-item {
  margin-bottom: 90px;
}
.labels {
  //"Top Tracks" and "Top Artists"
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
#users {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  width:70%;
  margin-left: auto;
  margin-right: auto;
}
#users > section {
  margin-bottom: 50px;
}
#users > section > p {
  text-align: center;
}
#to-others {
  padding: 10px;
  color: white;
  font-size: 32px;
  text-align: center;
  text-decoration: none;
}
#to-other:link,
#to-others:visited {
  color: #3ce789;
}
#to-others:hover {
  text-decoration: underline;
}

// .container {
//   &__image {
//     height: 100px;
//     width: 100px;
//     float: left;
//     margin-right: 10px;
//   }
//   &__text {
//     display: inline;
//   }
//   padding-bottom: 50px;
// }
